{% extends "user_input_base.html" %}

{% block title %}WWL{% endblock %}

{% block content %}
<div class="container">
    <div class="sign-up-head">
        <a href="{{ url_for('main_page') }}" class="link-btn">← 뒤로가기</a>
        <h2 class="title">팀 가입</h2>
    </div>

    <form method="post" class="form-box">
        <div>
            <span>주차</span>
            <select name="week" required>
                {% for i in range(0, 21) %}
                <option value="{{ i }}" {% if default_week is not none and i == default_week %}selected{% endif %}>Week {{ i }}</option>
                {% endfor %}
            </select>
        </div><br>

        <input type="password" name="team_password" placeholder="팀 비밀번호" required><br>
        <button type="submit" class="btn">확인</button>
    </form>
</div>
{% endblock %}