{% extends "user_input_base.html" %}
{% block title %}WWL{% endblock %}
{% block content %}
<div class="container">
    
    <div class = "sign-up-head">
      <a href="javascript:history.back()" class="link-btn">← 뒤로가기</a>
      <h2 class="title">팀 생성</h2>
    </div>
    
    <form method="post" class="form-box">
        <div class="form-box">  
        <span>주차</span>
        <select name="week" required>
            {% for i in range(0, 21) %}
            <option value="{{ i }}" {% if i == selected_week %}selected{% endif %}>{{ i }} week</option>
            {% endfor %}
        </select></div>
        <input type="text" name="team_name" placeholder="팀 이름" required><br>
        <input type="password" name="team_password" placeholder="팀 비밀번호" required><br>
        <button type="submit" class="btn">확인</button>
    </form>

  
</div>
{% endblock %}
